workflows/n8n/v2/jasfo-v2-discovery-planner.json
{
  "name": "Jasfo v2 Discovery Planner",
  "nodes": [
    {
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * 1"
            }
          ]
        }
      }
    },
    {
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Load Pending Planner Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "method": "GET",
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/planner_runs?status=eq.planning&select=*&limit=1",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Run Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      }
    },
    {
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Load ICP Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/icp_profiles?id=eq.\" + $json[0].icp_id + \"&select=*",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Build Planner Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "jsCode": "const run = $(\"Run Found?\").first().json;\nconst plannerRun = Array.isArray(run) ? run[0] : run;\nconst icpId = plannerRun.icp_id;\nconst runId = plannerRun.id;\n\nconst icpData = $json;\nconst icp = Array.isArray(icpData) ? icpData[0] : icpData;\n\nconst icpName = icp.name || \"Unknown\";\nconst industry = Array.isArray(icp.industry) ? icp.industry.join(\", \") : (icp.industry || \"\");\nconst keywords = Array.isArray(icp.keywords) ? icp.keywords.join(\", \") : \"\";\nconst country = Array.isArray(icp.country) ? icp.country.join(\", \") : \"\";\n\nconst prompt = `You are an ICP discovery planner. Plan a discovery cycle for:\nICP: ${icpName}\nIndustry: ${industry}\nKeywords: ${keywords}\nCountry: ${country}\n\nRespond with JSON only:\n{ \"sources\": [\"google_maps\", \"indiamart\", \"tradeindia\"], \"priority_focus\": \"industry vertical\" }`;\n\nreturn [{ json: { prompt, icp_id: icpId, run_id: runId } }];"
      }
    },
    {
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Call OpenCode GO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-v4-flash"
            },
            {
              "name": "messages",
              "value": "=[{\"role\":\"user\",\"content\":\" + $json.prompt + \"}]"
            },
            {
              "name": "temperature",
              "value": 0.3
            },
            {
              "name": "max_tokens",
              "value": 1024
            }
          ]
        }
      }
    },
    {
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Parse Planner Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        200
      ],
      "parameters": {
        "jsCode": "const response = $json;\nlet content = \"\";\ntry {\n  content = response.choices[0].message.content;\n} catch(e) {\n  content = JSON.stringify(response);\n}\nlet plan = {};\ntry {\n  const m = content.match(/\\{[\\s\\S]*\\}/);\n  plan = m ? JSON.parse(m[0]) : JSON.parse(content);\n} catch(e) {\n  plan = { sources: [\"google_maps\",\"indiamart\",\"tradeindia\"], priority_focus: \"general\" };\n}\nconst prevNode = $(\"Build Planner Prompt\").first().json;\nreturn [{ json: { plan, icp_id: prevNode.icp_id, run_id: prevNode.run_id } }];"
      }
    },
    {
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "Generate 50 Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        200
      ],
      "parameters": {
        "jsCode": "const item = $json;\nconst plan = item.plan || {};\nconst sources = plan.sources || [\"google_maps\",\"indiamart\",\"tradeindia\"];\nconst focus = plan.priority_focus || \"target\";\nconst geoModifiers = [\"\", \"in India\", \"in Mumbai\", \"in Delhi\", \"in Bangalore\", \"in Pune\"];\nconst synonyms = [\"dealer\", \"distributor\", \"supplier\", \"wholesaler\", \"retailer\", \"stockist\"];\nconst queries = [];\nfor (let i = 0; i < synonyms.length && queries.length < 50; i++) {\n  for (let j = 0; j < geoModifiers.length && queries.length < 50; j++) {\n    const q = [synonyms[i], focus, geoModifiers[j]].filter(Boolean).join(\" \");\n    if (q.trim().length > 3) {\n      queries.push({ query_text: q.trim(), source: sources[queries.length % sources.length], planner_run_id: item.run_id, intent: \"industry+location\", plan: item.plan });\n    }\n  }\n}\nreturn queries.map(q => ({ json: q }));"
      }
    },
    {
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "Insert Search Queries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/search_queries",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query_text",
              "value": "={{ $json.query_text }}"
            },
            {
              "name": "source",
              "value": "={{ $json.source }}"
            },
            {
              "name": "planner_run_id",
              "value": "={{ $json.planner_run_id }}"
            },
            {
              "name": "intent",
              "value": "={{ $json.intent }}"
            }
          ]
        }
      }
    },
    {
      "id": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "Collapse to Single",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        200
      ],
      "parameters": {
        "jsCode": "const item = $json;\nconst planNode = $(\"Parse Planner Decision\").first().json;\nreturn [{\n  json: {\n    planner_run_id: item.planner_run_id,\n    source_used: item.source || \"unknown\",\n    plan: planNode.plan || {}\n  }\n}];"
      }
    },
    {
      "id": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb",
      "name": "Insert Planner Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/planner_decisions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "planner_run_id",
              "value": "={{ $json.planner_run_id }}"
            },
            {
              "name": "iteration",
              "value": 1
            },
            {
              "name": "action",
              "value": "GENERATE_QUERIES"
            },
            {
              "name": "source_used",
              "value": "={{ $json.source_used }}"
            },
            {
              "name": "tokens_used",
              "value": 0
            }
          ]
        }
      }
    },
    {
      "id": "cccccccc-cccc-cccc-cccc-cccccccccccc",
      "name": "Update Run Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        200
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/planner_runs?id=eq.\" + $json.planner_run_id",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "executing"
            },
            {
              "name": "source_plan",
              "value": "={{ JSON.stringify($json.plan) }}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Load Pending Planner Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Pending Planner Run": {
      "main": [
        [
          {
            "node": "Run Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Found?": {
      "main": [
        [
          {
            "node": "Load ICP Profile",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Load ICP Profile": {
      "main": [
        [
          {
            "node": "Build Planner Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Planner Prompt": {
      "main": [
        [
          {
            "node": "Call OpenCode GO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenCode GO": {
      "main": [
        [
          {
            "node": "Parse Planner Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Planner Decision": {
      "main": [
        [
          {
            "node": "Generate 50 Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate 50 Queries": {
      "main": [
        [
          {
            "node": "Insert Search Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Search Queries": {
      "main": [
        [
          {
            "node": "Collapse to Single",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collapse to Single": {
      "main": [
        [
          {
            "node": "Insert Planner Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Planner Decision": {
      "main": [
        [
          {
            "node": "Update Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "versionId": "v2-initial",
  "active": true,
  "settings": {
    "timezone": "UTC",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [],
  "id": "jasfo-v2-discovery-planner"
}