workflows/n8n/jasfo-discovery-pipeline.json
{
  "name": "Jasfo Discovery Pipeline",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook - Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 400],
      "webhookId": "jasfo-discovery-pipeline",
      "parameters": {
        "path": "jasfo-discovery",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {
          "responseData": "firstReceivedJson"
        }
      }
    },
    {
      "id": "node-set-constants",
      "name": "Set Constants",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 400],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{\n  json: {\n    ...item,\n    SUPABASE_URL: 'https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1',\n    SUPABASE_SERVICE_KEY: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk',\n    FIRECRAWL_API_KEY: 'fc-03ee582d75c647c59555df35374d8fa2'\n  }\n}];"
      }
    },
    {
      "id": "node-if-has-domain",
      "name": "Has Domain?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [520, 400],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.company_domain }}",
              "operation": "isNotEmpty"
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-code-check-cache",
      "name": "Check Supabase Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 200],
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) {\n  return [{ json: { cacheResults: [], cacheHit: false } }];\n}\n\nconst item = items[0].json;\n\ntry {\n  const url = item.SUPABASE_URL + '/rest/v1/scrape_cache?company_domain=eq.' + encodeURIComponent(item.company_domain) + '&source_type=eq.company_profile&select=*';\n  \n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: url,\n    headers: {\n      'apikey': item.SUPABASE_SERVICE_KEY,\n      'Authorization': 'Bearer ' + item.SUPABASE_SERVICE_KEY\n    },\n    json: true,\n    resolveWithFullResponse: false\n  });\n  \n  const results = Array.isArray(response) ? response : [];\n  \n  return [{\n    json: {\n      ...item,\n      cacheResults: results,\n      cacheHit: results.length > 0\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      ...item,\n      cacheResults: [],\n      cacheHit: false,\n      cacheError: error.message\n    }\n  }];\n}"
      }
    },
    {
      "id": "node-if-cache-hit",
      "name": "Cache Hit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1040, 200],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.cacheHit }}",
              "operation": "equal",
              "value2": true
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-prep-cached-output",
      "name": "Prep Cached Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 0],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst cachedData = item.cacheResults && item.cacheResults.length > 0 ? item.cacheResults[0] : {};\n\nconst now = new Date().toISOString();\n\nreturn [{\n  json: {\n    ...item,\n    output_data: {\n      run_id: item.run_id,\n      company_name: item.company_name,\n      company_domain: item.company_domain,\n      status: 'completed',\n      source: 'cache',\n      data: cachedData.response_data || cachedData,\n      scraped_at: now\n    },\n    updated_at: now\n  }\n}];"
      }
    },
    {
      "id": "node-prep-crawl-body",
      "name": "Prep Crawl Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400],
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst body = JSON.stringify({\n  url: 'https://' + item.company_domain,\n  maxDepth: 2,\n  maxPages: 15,\n  scrapeOptions: {\n    formats: ['markdown']\n  }\n});\n\nreturn [{\n  json: {\n    ...item,\n    crawlRequestBody: body\n  }\n}];"
      }
    },
    {
      "id": "node-http-start-crawl",
      "name": "Firecrawl - Start Crawl",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1560, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/crawl",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.FIRECRAWL_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawBody": "={{ $json.crawlRequestBody }}",
        "options": {}
      }
    },
    {
      "id": "node-extract-crawl-id",
      "name": "Extract Crawl ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 400],
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst responseData = item.json || item;\nconst crawlId = responseData.id || (responseData.data && responseData.data.id) || '';\n\nreturn [{\n  json: {\n    ...item,\n    crawlId: crawlId\n  }\n}];"
      }
    },
    {
      "id": "node-http-check-status",
      "name": "Firecrawl - Check Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2080, 400],
      "parameters": {
        "method": "GET",
        "url": "=https://api.firecrawl.dev/v1/crawl/{{ $json.crawlId }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.FIRECRAWL_API_KEY }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-parse-status",
      "name": "Parse Crawl Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2340, 400],
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst data = item.data || item;\nconst status = data.status || '';\nconst done = status === 'completed' || status === 'failed' || status === 'cancelled';\nconst pages = data.pages || data.data || [];\n\nreturn [{\n  json: {\n    ...item,\n    crawlStatus: status,\n    crawlDone: done,\n    crawlPages: Array.isArray(pages) ? pages : []\n  }\n}];"
      }
    },
    {
      "id": "node-if-crawl-done",
      "name": "Crawl Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2600, 400],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.crawlDone }}",
              "operation": "equal",
              "value2": true
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-wait",
      "name": "Wait 5 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2860, 600],
      "parameters": {
        "resume": "afterTimeInterval",
        "amount": 5,
        "unit": "seconds"
      }
    },
    {
      "id": "node-prep-extract-body",
      "name": "Prep Extract Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 200],
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst body = JSON.stringify({\n  url: 'https://' + item.company_domain + '/about',\n  formats: ['markdown']\n});\n\nreturn [{\n  json: {\n    ...item,\n    extractRequestBody: body\n  }\n}];"
      }
    },
    {
      "id": "node-http-extract-about",
      "name": "Firecrawl - Extract About",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3120, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.FIRECRAWL_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawBody": "={{ $json.extractRequestBody }}",
        "options": {}
      }
    },
    {
      "id": "node-merge-data",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3380, 400],
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst now = new Date().toISOString();\n\nreturn [{\n  json: {\n    ...item,\n    output_data: {\n      run_id: item.run_id,\n      company_name: item.company_name,\n      company_domain: item.company_domain,\n      status: 'completed',\n      source: 'crawl',\n      crawl_status: item.crawlStatus,\n      crawl_pages: item.crawlPages || [],\n      about_page: item.data || null,\n      scraped_at: now\n    },\n    updated_at: now\n  }\n}];"
      }
    },
    {
      "id": "node-http-search",
      "name": "Firecrawl - Search Fallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [780, 650],
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/search",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $json.FIRECRAWL_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "query", "value": "={{ $json.company_name }}" },
            { "name": "scrapeOptions", "value": "{\"formats\":[\"markdown\"]}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-prep-search-output",
      "name": "Prep Search Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 650],
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst searchResults = item.data || item;\nconst now = new Date().toISOString();\n\nreturn [{\n  json: {\n    ...item,\n    output_data: {\n      run_id: item.run_id,\n      company_name: item.company_name,\n      company_domain: item.company_domain || '',\n      status: 'completed',\n      source: 'search',\n      search_results: searchResults,\n      scraped_at: now\n    },\n    updated_at: now\n  }\n}];"
      }
    },
    {
      "id": "node-prep-cache-insert",
      "name": "Prep Cache Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3640, 400],
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst cacheKey = (item.company_domain || item.company_name || 'unknown') + '_profile';\nconst expiresAt = new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString();\n\nconst cacheBody = JSON.stringify({\n  cache_key: cacheKey,\n  company_domain: item.company_domain || '',\n  source_type: 'company_profile',\n  response_data: item.output_data || {},\n  expires_at: expiresAt\n});\n\nreturn [{\n  json: {\n    ...item,\n    cacheInsertBody: cacheBody\n  }\n}];"
      }
    },
    {
      "id": "node-http-insert-cache",
      "name": "Insert Cache Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3900, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/scrape_cache",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $json.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "raw",
        "rawBody": "={{ $json.cacheInsertBody }}",
        "options": {}
      }
    },
    {
      "id": "node-http-update-queue",
      "name": "Update Scenario Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [4160, 400],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/scenario_queue?run_id=eq.{{ $json.run_id }}&company_name=eq.{{ $json.company_name }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $json.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $json.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "completed" },
            { "name": "output_data", "value": "={{ $json.output_data }}" },
            { "name": "updated_at", "value": "={{ $json.updated_at }}" }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook - Receive Request": {
      "main": [
        [
          {
            "node": "Set Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Constants": {
      "main": [
        [
          {
            "node": "Has Domain?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Domain?": {
      "main": [
        [
          {
            "node": "Check Supabase Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Firecrawl - Search Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Supabase Cache": {
      "main": [
        [
          {
            "node": "Cache Hit?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Hit?": {
      "main": [
        [
          {
            "node": "Prep Cached Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Crawl Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Crawl Request": {
      "main": [
        [
          {
            "node": "Firecrawl - Start Crawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl - Start Crawl": {
      "main": [
        [
          {
            "node": "Extract Crawl ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Crawl ID": {
      "main": [
        [
          {
            "node": "Firecrawl - Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl - Check Status": {
      "main": [
        [
          {
            "node": "Parse Crawl Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Crawl Status": {
      "main": [
        [
          {
            "node": "Crawl Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crawl Complete?": {
      "main": [
        [
          {
            "node": "Prep Extract Body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 Seconds": {
      "main": [
        [
          {
            "node": "Firecrawl - Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Extract Body": {
      "main": [
        [
          {
            "node": "Firecrawl - Extract About",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl - Extract About": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl - Search Fallback": {
      "main": [
        [
          {
            "node": "Prep Search Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Prep Cache Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Search Output": {
      "main": [
        [
          {
            "node": "Prep Cache Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Cached Output": {
      "main": [
        [
          {
            "node": "Update Scenario Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Cache Insert": {
      "main": [
        [
          {
            "node": "Insert Cache Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Cache Record": {
      "main": [
        [
          {
            "node": "Update Scenario Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}