workflows/n8n/jasfo-ai-analysis.json
{
  "name": "Jasfo AI Analysis",
  "nodes": [
    {
      "id": "node-webhook-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        500
      ],
      "parameters": {
        "path": "jasfo-ai-analysis",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "node-prep-002",
      "name": "Code - Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        500
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst systemPrompt = 'You are Jasfo AI, an expert business analysis system. Analyze companies based on provided data and extract structured intelligence.\\n\\nCRITICAL RULES:\\n1. Return ONLY valid JSON - no markdown, no code fences, no explanation\\n2. Extract real facts from the provided crawl data and search results\\n3. Do not fabricate or hallucinate data\\n4. Set confidence scores realistically based on data quality\\n5. If data is insufficient, note it in confidence scores\\n\\nRequired JSON structure:\\n{\\n  \"company\": {\\n    \"name\": \"Company name\",\\n    \"domain\": \"Company domain\",\\n    \"description\": \"2-3 sentence company description\",\\n    \"industry\": \"Primary industry\",\\n    \"founded_year\": null or number,\\n    \"employee_count\": null or string,\\n    \"headquarters\": \"Location or null\",\\n    \"social_links\": {}\\n  },\\n  \"products\": [\\n    {\\n      \"name\": \"Product name\",\\n      \"description\": \"Product description\",\\n      \"category\": \"Product category\",\\n      \"pricing_model\": \"subscription/freemium/one-time/etc or null\"\\n    }\\n  ],\\n  \"technologies\": [\\n    {\\n      \"name\": \"Technology name\",\\n      \"category\": \"Category (analytics/hosting/framework/cdn/marketing/payment/etc)\",\\n      \"description\": \"How it\\'s used or null\"\\n    }\\n  ],\\n  \"confidence_scores\": {\\n    \"overall\": 0-100,\\n    \"data_quality\": 0-100,\\n    \"completeness\": 0-100\\n  }\\n}';\n\nconst userPrompt = 'Analyze this company data and return the JSON structure:\\n\\nCompany Name: ' + (input.company_name || 'Unknown') + '\\nCompany Domain: ' + (input.company_domain || 'Unknown') + '\\n\\nCrawl Data:\\n' + JSON.stringify(input.crawl_data || {}, null, 2) + '\\n\\nSearch Results:\\n' + JSON.stringify(input.search_results || {}, null, 2) + '\\n\\nReturn ONLY valid JSON matching the required schema.';\n\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  { role: 'user', content: userPrompt }\n];\n\nconst totalChars = systemPrompt.length + userPrompt.length;\nconst estimatedTokens = Math.ceil(totalChars / 3.5);\nconst modelChoice = estimatedTokens > 100000 ? 'mimo-v2.5' : 'deepseek-v4-flash';\n\nreturn [{\n  json: {\n    messages,\n    systemPrompt,\n    userPrompt,\n    estimatedTokens,\n    modelChoice\n  }\n}];"
      }
    },
    {
      "id": "node-if-token-003",
      "name": "IF - Token > 100K?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        750,
        500
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.estimatedTokens }}",
              "operation": "larger",
              "value2": 100000
            }
          ]
        }
      }
    },
    {
      "id": "node-http-deepseek-004",
      "name": "HTTP Request - OpenCode GO DeepSeek",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1000,
        250
      ],
      "parameters": {
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\"model\":\"deepseek-v4-flash\",\"messages\":{{JSON.stringify($node[\"Code - Prepare Prompt\"].json.messages)}},\"temperature\":0.1,\"max_tokens\":8192,\"response_format\":{\"type\":\"json_object\"}}",
        "options": {
          "timeout": 300000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-http-mimo-005",
      "name": "HTTP Request - OpenCode GO MiMo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1000,
        750
      ],
      "parameters": {
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\"model\":\"mimo-v2.5\",\"messages\":{{JSON.stringify($node[\"Code - Prepare Prompt\"].json.messages)}},\"temperature\":0.1,\"max_tokens\":8192,\"response_format\":{\"type\":\"json_object\"}}",
        "options": {
          "timeout": 300000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-if-error-006",
      "name": "IF - DeepSeek Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1250,
        500
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.choices && Array.isArray($json.choices) ? $json.choices.length : 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      }
    },
    {
      "id": "node-parse-007",
      "name": "Code - Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        500
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet parseSuccess = false;\nlet parsed = null;\nlet error = null;\n\nconst content = input.choices?.[0]?.message?.content || '';\n\nif (content) {\n  try {\n    parsed = JSON.parse(content);\n    parseSuccess = true;\n  } catch (e) {\n    try {\n      const jsonMatch = content.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n      if (jsonMatch && jsonMatch[1]) {\n        parsed = JSON.parse(jsonMatch[1].trim());\n        parseSuccess = true;\n      }\n    } catch (e2) {\n      try {\n        const objMatch = content.match(/\\{[\\s\\S]*\\}/);\n        if (objMatch) {\n          parsed = JSON.parse(objMatch[0]);\n          parseSuccess = true;\n        }\n      } catch (e3) {\n        error = 'Failed to parse response: ' + e.message;\n      }\n    }\n  }\n} else {\n  error = 'Empty response content';\n}\n\nreturn [{\n  json: {\n    parseSuccess,\n    parsed,\n    error,\n    rawContent: content\n  }\n}];"
      }
    },
    {
      "id": "node-if-parse-008",
      "name": "IF - Parse Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1750,
        500
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.parseSuccess }}",
              "operation": "true"
            }
          ]
        }
      }
    },
    {
      "id": "node-validate-009",
      "name": "Code - Validate Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst data = input.parsed || {};\n\nconst hasCompany = data.company && typeof data.company === 'object';\nconst hasCompanyName = hasCompany && typeof data.company.name === 'string' && data.company.name.length > 0;\nconst hasCompanyDomain = hasCompany && typeof data.company.domain === 'string' && data.company.domain.length > 0;\nconst hasCompanyDescription = hasCompany && typeof data.company.description === 'string';\nconst hasProducts = Array.isArray(data.products);\nconst hasTechnologies = Array.isArray(data.technologies);\nconst hasConfidence = data.confidence_scores && typeof data.confidence_scores === 'object';\n\nconst schemaValid = hasCompanyName && hasCompanyDomain && hasProducts && hasTechnologies;\n\nconst missingFields = [];\nif (!hasCompany) missingFields.push('company');\nif (!hasCompanyName) missingFields.push('company.name');\nif (!hasCompanyDomain) missingFields.push('company.domain');\nif (!hasCompanyDescription) missingFields.push('company.description');\nif (!hasProducts) missingFields.push('products');\nif (!hasTechnologies) missingFields.push('technologies');\nif (!hasConfidence) missingFields.push('confidence_scores');\n\nconst repairPrompt = schemaValid ? '' : 'Fix this JSON. Missing fields: ' + missingFields.join(', ') + '.\\n\\nInvalid JSON:\\n' + JSON.stringify(data, null, 2) + '\\n\\nReturn ONLY corrected JSON with all required fields.';\n\nconst validatedData = schemaValid ? {\n  company_name: data.company.name,\n  company_domain: data.company.domain,\n  company_data: data\n} : null;\n\nreturn [{\n  json: {\n    schemaValid,\n    validatedData,\n    confidenceScores: data.confidence_scores || null,\n    missingFields,\n    repairPrompt,\n    rawData: data\n  }\n}];"
      }
    },
    {
      "id": "node-if-schema-010",
      "name": "IF - Schema Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2250,
        300
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.schemaValid }}",
              "operation": "true"
            }
          ]
        }
      }
    },
    {
      "id": "node-http-repair-011",
      "name": "HTTP Request - OpenCode GO Repair",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2000,
        750
      ],
      "parameters": {
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\"model\":\"deepseek-v4-flash\",\"messages\":[{\"role\":\"system\",\"content\":\"You are a JSON repair assistant. Fix malformed JSON to match the required schema. Return ONLY valid JSON, no explanation.\"},{\"role\":\"user\",\"content\":\"{{JSON.stringify($json.repairPrompt || $json.error || 'Fix this invalid JSON')\"}}\"],\"temperature\":0.1,\"max_tokens\":4096,\"response_format\":{\"type\":\"json_object\"}}",
        "options": {
          "timeout": 120000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-reparse-012",
      "name": "Code - Re-parse Repair",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        750
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet parseSuccess = false;\nlet parsed = null;\nlet error = null;\n\nconst content = input.choices?.[0]?.message?.content || '';\n\nif (content) {\n  try {\n    parsed = JSON.parse(content);\n    parseSuccess = true;\n  } catch (e) {\n    try {\n      const jsonMatch = content.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n      if (jsonMatch && jsonMatch[1]) {\n        parsed = JSON.parse(jsonMatch[1].trim());\n        parseSuccess = true;\n      }\n    } catch (e2) {\n      try {\n        const objMatch = content.match(/\\{[\\s\\S]*\\}/);\n        if (objMatch) {\n          parsed = JSON.parse(objMatch[0]);\n          parseSuccess = true;\n        }\n      } catch (e3) {\n        error = e3.message;\n      }\n    }\n  }\n}\n\nreturn [{\n  json: {\n    parseSuccess,\n    parsed,\n    error\n  }\n}];"
      }
    },
    {
      "id": "node-supabase-insert-013",
      "name": "HTTP Request - Supabase Insert Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2550,
        300
      ],
      "parameters": {
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/ai_extractions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "run_id",
              "value": "={{ $node.Webhook.json.run_id }}"
            },
            {
              "name": "company_domain",
              "value": "={{ $node.Webhook.json.company_domain }}"
            },
            {
              "name": "company_data",
              "value": "={{ $json.validatedData ? $json.validatedData.company_data : ($json.parsed || {}) }}"
            },
            {
              "name": "confidence_scores",
              "value": "={{ $json.confidenceScores || ($json.parsed ? $json.parsed.confidence_scores : null) || {} }}"
            },
            {
              "name": "model_used",
              "value": "={{ $node['Code - Prepare Prompt'].json.modelChoice }}"
            },
            {
              "name": "processing_time_ms",
              "value": 5000
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "node-supabase-update-014",
      "name": "HTTP Request - Supabase Update Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2800,
        300
      ],
      "parameters": {
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/scenario_queue?run_id=eq.{{ $node.Webhook.json.run_id }}&company_domain=eq.{{ $node.Webhook.json.company_domain }}",
        "method": "PATCH",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "output_data",
              "value": "={{ $json.validatedData ? $json.validatedData.company_data : ($json.parsed || {}) }}"
            },
            {
              "name": "updated_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code - Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Prepare Prompt": {
      "main": [
        [
          {
            "node": "IF - Token > 100K?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Token > 100K?": {
      "main": [
        [
          {
            "node": "HTTP Request - OpenCode GO MiMo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - OpenCode GO DeepSeek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - OpenCode GO DeepSeek": {
      "main": [
        [
          {
            "node": "IF - DeepSeek Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - OpenCode GO MiMo": {
      "main": [
        [
          {
            "node": "IF - DeepSeek Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - DeepSeek Error?": {
      "main": [
        [
          {
            "node": "Code - Parse JSON",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code - Parse JSON": {
      "main": [
        [
          {
            "node": "IF - Parse Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Parse Success?": {
      "main": [
        [
          {
            "node": "Code - Validate Schema",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - OpenCode GO Repair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Validate Schema": {
      "main": [
        [
          {
            "node": "IF - Schema Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Schema Valid?": {
      "main": [
        [
          {
            "node": "HTTP Request - Supabase Insert Extraction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - OpenCode GO Repair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - OpenCode GO Repair": {
      "main": [
        [
          {
            "node": "Code - Re-parse Repair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Re-parse Repair": {
      "main": [
        [
          {
            "node": "HTTP Request - Supabase Insert Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Supabase Insert Extraction": {
      "main": [
        [
          {
            "node": "HTTP Request - Supabase Update Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Supabase Update Queue": {
      "main": [
        []
      ]
    }
  },
  "settings": {},
  "id": "wf-jasfo-ai-analysis",
  "tags": []
}