workflows/n8n/jasfo-ai-processor.json
{
  "name": "JASFO AI Processor",
  "nodes": [
    {
      "id": "2f1a8c3e-5b7d-4e9a-9f1c-6d8b2a4e3c1d",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * 1-2"
            }
          ]
        }
      }
    },
    {
      "id": "3a5b8c1d-2e4f-6a7b-8c9d-0e1f2a3b4c5d",
      "name": "Load Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 500],
      "parameters": {
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/scenario_queue?next_step=eq.ai_ready&select=*&limit=5",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "count=exact"
            }
          ]
        },
        "method": "GET",
        "sendBody": false,
        "options": {}
      }
    },
    {
      "id": "4c6d9e1f-2a3b-4c5d-6e7f-8a9b0c1d2e3f",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [250, 700],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "5d7e0f1a-2b3c-4d5e-6f7a-8b9c0d1e2f3a",
      "name": "Load Scrape Cache",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 900],
      "parameters": {
        "url": "={{ 'https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/scrape_cache?id=eq.' + $json.scrape_cache_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "count=exact"
            }
          ]
        },
        "method": "GET",
        "sendBody": false,
        "options": {}
      }
    },
    {
      "id": "6e8f1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b",
      "name": "Build AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [250, 1100],
      "parameters": {
        "jsCode": "const item = $json;\nconst scrapeList = Array.isArray(item) ? item : [item];\nconst data = scrapeList[0] || item;\nconst scrapeData = data.scrape_data || {};\nconst content = scrapeData.content || data.content || '';\nconst url = scrapeData.url || data.url || '';\nconst title = scrapeData.title || data.title || '';\nconst estimatedTokens = content.length;\n\nlet model = 'deepseek-v4-flash';\nif (estimatedTokens > 100000) {\n  model = 'mimo-v2.5';\n}\n\nconst systemPrompt = 'You are an expert business analyst. Extract structured intelligence from web content including company identification, industry classification, key insights, and confidence scoring. Return valid JSON only.';\n\nconst userPrompt = 'URL: ' + url + '\\nTitle: ' + title + '\\n\\nContent:\\n' + content.substring(0, 150000) + '\\n\\nAnalyze this content and extract structured intelligence as JSON with fields: company_name, industry, summary, key_insights (array), confidence_score (0-100).';\n\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  { role: 'user', content: userPrompt }\n];\n\nreturn {\n  ...data,\n  messages,\n  model,\n  estimatedTokens\n};"
      }
    },
    {
      "id": "7f9a0b1c-2d3e-4f5a-6b7c-8d9e0f1a2b3c",
      "name": "Call OC API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1300],
      "parameters": {
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.model }}"
            },
            {
              "name": "messages",
              "value": "={{ $json.messages }}"
            },
            {
              "name": "temperature",
              "value": 0.7
            },
            {
              "name": "max_tokens",
              "value": 4096
            }
          ]
        },
        "method": "POST",
        "options": {}
      }
    },
    {
      "id": "8a0b1c2d-3e4f-5a6b-7c8d-9e0f1a2b3c4d",
      "name": "Parse And Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [250, 1500],
      "parameters": {
        "jsCode": "const response = $json;\nconst rawContent = response.choices && response.choices[0] && response.choices[0].message && response.choices[0].message.content ? response.choices[0].message.content : '';\n\nif (!rawContent) {\n  throw new Error('Empty response from AI');\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawContent);\n} catch (e) {\n  throw new Error('Failed to parse AI response: ' + e.message);\n}\n\nconst requiredFields = ['company_name', 'industry', 'summary', 'key_insights', 'confidence_score'];\nfor (const field of requiredFields) {\n  if (parsed[field] === undefined || parsed[field] === null) {\n    throw new Error('Missing required field: ' + field);\n  }\n}\n\nreturn {\n  ...response,\n  extraction: parsed,\n  raw_response: rawContent\n};"
      }
    },
    {
      "id": "9b1c2d3e-4f5a-6b7c-8d9e-0f1a2b3c4d5e",
      "name": "Insert AI Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1700],
      "parameters": {
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/ai_extractions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "scenario_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "company_name",
              "value": "={{ $json.extraction.company_name }}"
            },
            {
              "name": "industry",
              "value": "={{ $json.extraction.industry }}"
            },
            {
              "name": "summary",
              "value": "={{ $json.extraction.summary }}"
            },
            {
              "name": "key_insights",
              "value": "={{ $json.extraction.key_insights }}"
            },
            {
              "name": "confidence_score",
              "value": "={{ $json.extraction.confidence_score }}"
            },
            {
              "name": "raw_response",
              "value": "={{ $json.raw_response }}"
            },
            {
              "name": "created_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "method": "POST",
        "options": {}
      }
    },
    {
      "id": "0c2d3e4f-5a6b-7c8d-9e0f-1a2b3c4d5e6f",
      "name": "Update Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1900],
      "parameters": {
        "url": "={{ 'https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/scenario_queue?id=eq.' + $json.id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "next_step",
              "value": "scoring_ready"
            }
          ]
        },
        "method": "PATCH",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          { "node": "Load Items", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load Items": {
      "main": [
        [
          { "node": "Split In Batches", "type": "main", "index": 0 }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          { "node": "Load Scrape Cache", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load Scrape Cache": {
      "main": [
        [
          { "node": "Build AI Prompt", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build AI Prompt": {
      "main": [
        [
          { "node": "Call OC API", "type": "main", "index": 0 }
        ]
      ]
    },
    "Call OC API": {
      "main": [
        [
          { "node": "Parse And Validate", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse And Validate": {
      "main": [
        [
          { "node": "Insert AI Extraction", "type": "main", "index": 0 }
        ]
      ]
    },
    "Insert AI Extraction": {
      "main": [
        [
          { "node": "Update Queue", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
