workflows/n8n/jasfo-discovery-processor.json
{
  "name": "Jasfo Discovery Processor",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-4a90-abcd-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "parameters": { "rule": { "interval": [{ "field": "cron", "expression": "*/30 * * * 1" }] } }
    },
    {
      "id": "a1b2c3d4-e5f6-4a90-abcd-000000000002",
      "name": "Load Pending Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "parameters": {
        "method": "GET",
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/scenario_queue?status=eq.pending&scenario_step=eq.discovery&select=*&order=created_at.asc&limit=5",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-e5f6-4a90-abcd-000000000003",
      "name": "Items Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "c1", "leftValue": "={{ $json.length }}", "rightValue": 0, "operator": { "type": "number", "operation": "larger" } }],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-e5f6-4a90-abcd-000000000004",
      "name": "Batch Processor",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [850, 300],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "a1b2c3d4-e5f6-4a90-abcd-000000000005",
      "name": "Check Cache",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/scrape_cache?company_domain=eq.' + encodeURIComponent($json.company_domain) + '&source_type=eq.company_profile&select=*' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-e5f6-4a90-abcd-000000000006",
      "name": "Cache Hit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{ "id": "c2", "leftValue": "={{ Array.isArray($json) && $json.length > 0 }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equal" } }],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-e5f6-4a90-abcd-000000000007",
      "name": "Firecrawl Crawl",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 100],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/crawl",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer fc-03ee582d75c647c59555df35374d8fa2" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": { "parameters": [{ "name": "url", "value": "={{ 'https://' + $json.company_domain }}" }, { "name": "maxDepth", "value": 2 }, { "name": "maxPages", "value": 10 }, { "name": "scrapeOptions", "value": "={ \"formats\": [\"markdown\"] }" }] },
        "options": { "timeout": 60000 }
      }
    },
    {
      "id": "a1b2c3d4-e5f6-4a90-abcd-000000000008",
      "name": "Firecrawl Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 300],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "Bearer fc-03ee582d75c647c59555df35374d8fa2" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": { "parameters": [{ "name": "url", "value": "={{ 'https://' + $json.company_domain + '/about' }}" }, { "name": "formats", "value": "=[\"markdown\"]" }] },
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "a1b2c3d4-e5f6-4a90-abcd-000000000009",
      "name": "Merge Scraped Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300],
      "parameters": {
        "language": "javaScript",
        "code": "const item = $input.first().json;\nconst crawlResult = $node['Firecrawl Crawl'].json || {};\nconst scrapeResult = $node['Firecrawl Scrape'].json || {};\nconst cacheResult = $node['Check Cache'].json;\nconst cacheHit = Array.isArray(cacheResult) && cacheResult.length > 0;\n\nreturn [{\n  json: {\n    company_domain: item.company_domain,\n    company_name: item.company_name,\n    run_id: item.run_id,\n    cached: cacheHit,\n    crawl_data: crawlResult.data || crawlResult,\n    scrape_data: scrapeResult.data || scrapeResult,\n    merged_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-e5f6-4a90-abcd-000000000010",
      "name": "Insert Cache",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 300],
      "parameters": {
        "method": "POST",
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/scrape_cache",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk" },
          { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Prefer", "value": "return=minimal" }
        ] },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": { "parameters": [
          { "name": "cache_key", "value": "={{ $json.company_domain + '_profile' }}" },
          { "name": "company_domain", "value": "={{ $json.company_domain }}" },
          { "name": "source_type", "value": "company_profile" },
          { "name": "response_data", "value": "={{ JSON.stringify($json) }}" },
          { "name": "expires_at", "value": "={{ new Date(Date.now() + 7*24*60*60*1000).toISOString() }}" }
        ] }
      }
    },
    {
      "id": "a1b2c3d4-e5f6-4a90-abcd-000000000011",
      "name": "Update Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 300],
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/scenario_queue?run_id=eq.' + encodeURIComponent($json.run_id) + '&company_name=eq.' + encodeURIComponent($json.company_name) }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk" },
          { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Prefer", "value": "return=representation" }
        ] },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": { "parameters": [
          { "name": "status", "value": "completed" },
          { "name": "next_step", "value": "ai_ready" },
          { "name": "updated_at", "value": "={{ new Date().toISOString() }}" }
        ] }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Load Pending Items", "type": "main", "index": 0 }]] },
    "Load Pending Items": { "main": [[{ "node": "Items Found?", "type": "main", "index": 0 }]] },
    "Items Found?": { "main": [[], [{ "node": "Batch Processor", "type": "main", "index": 0 }]] },
    "Batch Processor": { "main": [[{ "node": "Check Cache", "type": "main", "index": 0 }]] },
    "Check Cache": { "main": [[{ "node": "Cache Hit?", "type": "main", "index": 0 }]] },
    "Cache Hit?": { "main": [[{ "node": "Firecrawl Scrape", "type": "main", "index": 0 }], [{ "node": "Merge Scraped Data", "type": "main", "index": 0 }]] },
    "Firecrawl Scrape": { "main": [[{ "node": "Merge Scraped Data", "type": "main", "index": 0 }]] },
    "Merge Scraped Data": { "main": [[{ "node": "Insert Cache", "type": "main", "index": 0 }]] },
    "Insert Cache": { "main": [[{ "node": "Update Queue", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "tags": [],
  "active": false
}
