workflows/n8n/jasfo-export-processor.json
{
  "name": "JASFO Export Processor",
  "nodes": [
    {
      "id": "e7f8a9b0-c1d2-3efa-efab-567890123456",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * 1-2"
            }
          ]
        }
      }
    },
    {
      "id": "f8a9b0c1-d2e3-4fab-fabc-678901234567",
      "name": "Load Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 500],
      "parameters": {
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/scenario_queue?next_step=eq.export_ready&select=*&limit=10",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "count=exact"
            }
          ]
        },
        "method": "GET",
        "sendBody": false,
        "options": {}
      }
    },
    {
      "id": "a9b0c1d2-e3f4-5abc-abcd-789012345678",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [250, 700],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "b0c1d2e3-f4a5-6bcd-bcde-890123456789",
      "name": "Load Score Card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 900],
      "parameters": {
        "url": "={{ 'https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/score_cards?id=eq.' + $json.score_card_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "count=exact"
            }
          ]
        },
        "method": "GET",
        "sendBody": false,
        "options": {}
      }
    },
    {
      "id": "c1d2e3f4-a5b6-7cde-cdef-901234567890",
      "name": "Load AI Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1100],
      "parameters": {
        "url": "={{ 'https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/ai_extractions?id=eq.' + $json.extraction_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "count=exact"
            }
          ]
        },
        "method": "GET",
        "sendBody": false,
        "options": {}
      }
    },
    {
      "id": "d2e3f4a5-b6c7-8def-defa-012345678901",
      "name": "Build Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [250, 1300],
      "parameters": {
        "jsCode": "const item = $json;\nconst scoreCardList = Array.isArray(item) ? item : [item];\nconst scoreCard = scoreCardList[0] || item;\n\nconst extraction = scoreCard.extraction || {};\nconst url = scoreCard.url || '';\nconst company = extraction.company_name || 'Unknown Company';\nconst compositeScore = scoreCard.composite_score || 'N/A';\nconst summary = (extraction.summary || '').substring(0, 300);\n\nconst scores = scoreCard.scores || {};\nlet breakdown = '';\nif (typeof scores === 'object') {\n  for (const key in scores) {\n    const s = scores[key];\n    if (s && s.score !== undefined) {\n      breakdown = breakdown + '\\n' + key.replace('_', ' ') + ': ' + s.score;\n    }\n  }\n}\n\nconst text = '\\ud83d\\udcca *Export Ready: ' + company + '*\\n' +\n  '\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n' +\n  '*Composite Score:* ' + compositeScore + '/100\\n' +\n  '*URL:* ' + url + '\\n' +\n  '\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n' +\n  '*Breakdown:*' + breakdown + '\\n' +\n  '\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n' +\n  '*Summary:* ' + summary;\n\nreturn {\n  ...item,\n  scenario_id: item.id || item.scenario_id,\n  score_card: scoreCard,\n  ai_extraction: extraction,\n  tg_chat_id: '-5497421027',\n  tg_text: text,\n  tg_parse_mode: 'Markdown'\n};"
      }
    },
    {
      "id": "e3f4a5b6-c7d8-9efa-efab-123456789012",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1500],
      "parameters": {
        "url": "https://api.telegram.org/bot8688503635:AAH4obxx3lGXYhoke1hR8mFJvoTvflVRrnE/sendMessage",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-5497421027"
            },
            {
              "name": "text",
              "value": "={{ $json.tg_text }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "method": "POST",
        "options": {}
      }
    },
    {
      "id": "f4a5b6c7-d8e9-0fab-fabc-234567890123",
      "name": "Insert Report Archive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1700],
      "parameters": {
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/report_archive",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "scenario_id",
              "value": "={{ $json.scenario_id }}"
            },
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "company_name",
              "value": "={{ $json.ai_extraction.company_name }}"
            },
            {
              "name": "composite_score",
              "value": "={{ $json.score_card.composite_score }}"
            },
            {
              "name": "scores",
              "value": "={{ $json.score_card.scores }}"
            },
            {
              "name": "summary",
              "value": "={{ $json.ai_extraction.summary }}"
            },
            {
              "name": "tg_message",
              "value": "={{ $json.tg_text }}"
            },
            {
              "name": "exported_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "method": "POST",
        "options": {}
      }
    },
    {
      "id": "a5b6c7d8-e9f0-1abc-bcde-345678901234",
      "name": "Update Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1900],
      "parameters": {
        "url": "={{ 'https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/scenario_queue?id=eq.' + $json.scenario_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "done"
            }
          ]
        },
        "method": "PATCH",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          { "node": "Load Items", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load Items": {
      "main": [
        [
          { "node": "Split In Batches", "type": "main", "index": 0 }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          { "node": "Load Score Card", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load Score Card": {
      "main": [
        [
          { "node": "Load AI Extraction", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load AI Extraction": {
      "main": [
        [
          { "node": "Build Telegram Message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Telegram Message": {
      "main": [
        [
          { "node": "Send Telegram", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          { "node": "Insert Report Archive", "type": "main", "index": 0 }
        ]
      ]
    },
    "Insert Report Archive": {
      "main": [
        [
          { "node": "Update Queue", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
