workflows/n8n/jasfo-scoring-processor.json
{
  "name": "JASFO Scoring Processor",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * 1-2"
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Load Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 500],
      "parameters": {
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/scenario_queue?next_step=eq.scoring_ready&select=*&limit=3",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "count=exact"
            }
          ]
        },
        "method": "GET",
        "sendBody": false,
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [250, 700],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Load AI Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 900],
      "parameters": {
        "url": "={{ 'https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/ai_extractions?id=eq.' + $json.extraction_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "count=exact"
            }
          ]
        },
        "method": "GET",
        "sendBody": false,
        "options": {}
      }
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Pillar 1: Company Fit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1100],
      "parameters": {
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-v4-flash"
            },
            {
              "name": "messages",
              "value": "={{ $node['Load AI Extraction'].json.messages || [{ role: 'user', content: 'Score Company Fit (10% weight) for: ' + JSON.stringify($node['Load AI Extraction'].json) }] }}"
            },
            {
              "name": "temperature",
              "value": 0.5
            },
            {
              "name": "max_tokens",
              "value": 1024
            }
          ]
        },
        "method": "POST",
        "options": {}
      }
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Pillar 2: Move Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1300],
      "parameters": {
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-v4-flash"
            },
            {
              "name": "messages",
              "value": "={{ $node['Load AI Extraction'].json.messages || [{ role: 'user', content: 'Score Move Intent (35% weight) for: ' + JSON.stringify($node['Load AI Extraction'].json) }] }}"
            },
            {
              "name": "temperature",
              "value": 0.5
            },
            {
              "name": "max_tokens",
              "value": 1024
            }
          ]
        },
        "method": "POST",
        "options": {}
      }
    },
    {
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Pillar 3: Growth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1500],
      "parameters": {
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-v4-flash"
            },
            {
              "name": "messages",
              "value": "={{ $node['Load AI Extraction'].json.messages || [{ role: 'user', content: 'Score Growth (15% weight) for: ' + JSON.stringify($node['Load AI Extraction'].json) }] }}"
            },
            {
              "name": "temperature",
              "value": 0.5
            },
            {
              "name": "max_tokens",
              "value": 1024
            }
          ]
        },
        "method": "POST",
        "options": {}
      }
    },
    {
      "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
      "name": "Pillar 4: Financial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1700],
      "parameters": {
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-v4-flash"
            },
            {
              "name": "messages",
              "value": "={{ $node['Load AI Extraction'].json.messages || [{ role: 'user', content: 'Score Financial (12% weight) for: ' + JSON.stringify($node['Load AI Extraction'].json) }] }}"
            },
            {
              "name": "temperature",
              "value": 0.5
            },
            {
              "name": "max_tokens",
              "value": 1024
            }
          ]
        },
        "method": "POST",
        "options": {}
      }
    },
    {
      "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
      "name": "Pillar 5: Decision Maker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 1900],
      "parameters": {
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-v4-flash"
            },
            {
              "name": "messages",
              "value": "={{ $node['Load AI Extraction'].json.messages || [{ role: 'user', content: 'Score Decision Maker (10% weight) for: ' + JSON.stringify($node['Load AI Extraction'].json) }] }}"
            },
            {
              "name": "temperature",
              "value": 0.5
            },
            {
              "name": "max_tokens",
              "value": 1024
            }
          ]
        },
        "method": "POST",
        "options": {}
      }
    },
    {
      "id": "d0e1f2a3-b4c5-6789-defa-890123456789",
      "name": "Pillar 6: Network",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 2100],
      "parameters": {
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-v4-flash"
            },
            {
              "name": "messages",
              "value": "={{ $node['Load AI Extraction'].json.messages || [{ role: 'user', content: 'Score Network (8% weight) for: ' + JSON.stringify($node['Load AI Extraction'].json) }] }}"
            },
            {
              "name": "temperature",
              "value": 0.5
            },
            {
              "name": "max_tokens",
              "value": 1024
            }
          ]
        },
        "method": "POST",
        "options": {}
      }
    },
    {
      "id": "e1f2a3b4-c5d6-789a-efab-901234567890",
      "name": "Pillar 7: Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 2300],
      "parameters": {
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-v4-flash"
            },
            {
              "name": "messages",
              "value": "={{ $node['Load AI Extraction'].json.messages || [{ role: 'user', content: 'Score Opportunity (5% weight) for: ' + JSON.stringify($node['Load AI Extraction'].json) }] }}"
            },
            {
              "name": "temperature",
              "value": 0.5
            },
            {
              "name": "max_tokens",
              "value": 1024
            }
          ]
        },
        "method": "POST",
        "options": {}
      }
    },
    {
      "id": "f2a3b4c5-d6e7-89ab-fabc-012345678901",
      "name": "Pillar 8: Evidence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 2500],
      "parameters": {
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-v4-flash"
            },
            {
              "name": "messages",
              "value": "={{ $node['Load AI Extraction'].json.messages || [{ role: 'user', content: 'Score Evidence (5% weight) for: ' + JSON.stringify($node['Load AI Extraction'].json) }] }}"
            },
            {
              "name": "temperature",
              "value": 0.5
            },
            {
              "name": "max_tokens",
              "value": 1024
            }
          ]
        },
        "method": "POST",
        "options": {}
      }
    },
    {
      "id": "a3b4c5d6-e7f8-9abc-abcd-123456789012",
      "name": "Calculate Composite",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [250, 2700],
      "parameters": {
        "jsCode": "const pillarNodes = [\n  { name: 'Pillar 1: Company Fit', key: 'company_fit', weight: 0.10 },\n  { name: 'Pillar 2: Move Intent', key: 'move_intent', weight: 0.35 },\n  { name: 'Pillar 3: Growth', key: 'growth', weight: 0.15 },\n  { name: 'Pillar 4: Financial', key: 'financial', weight: 0.12 },\n  { name: 'Pillar 5: Decision Maker', key: 'decision_maker', weight: 0.10 },\n  { name: 'Pillar 6: Network', key: 'network', weight: 0.08 },\n  { name: 'Pillar 7: Opportunity', key: 'opportunity', weight: 0.05 },\n  { name: 'Pillar 8: Evidence', key: 'evidence', weight: 0.05 }\n];\n\nconst scores = {};\nlet composite = 0;\n\nfor (const p of pillarNodes) {\n  let resp;\n  try {\n    resp = $node[p.name].json;\n  } catch (e) {\n    resp = {};\n  }\n\n  let score = 0;\n  let reasoning = '';\n\n  try {\n    const content = resp.choices && resp.choices[0] && resp.choices[0].message ? resp.choices[0].message.content : '{}';\n    const parsed = JSON.parse(content);\n    score = parseFloat(parsed.score) || 0;\n    reasoning = parsed.reasoning || '';\n  } catch (e) {\n    // Default to 0 if parsing fails\n  }\n\n  scores[p.key] = { score: Math.round(score * 100) / 100, reasoning: reasoning, weight: p.weight };\n  composite += score * p.weight;\n}\n\nconst item = $json;\n\nreturn {\n  scenario_id: item.id || item.scenario_id,\n  extraction_id: item.extraction_id,\n  url: item.url,\n  composite_score: Math.round(composite * 100) / 100,\n  scores: scores,\n  weights: pillarNodes.reduce(function(acc, p) { acc[p.key] = p.weight; return acc; }, {})\n};"
      }
    },
    {
      "id": "b4c5d6e7-f8a9-0bcd-bcde-234567890123",
      "name": "MiMo Reflection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 2900],
      "parameters": {
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mimo-v2.5"
            },
            {
              "name": "messages",
              "value": "={{ [{ role: 'system', content: 'You are a senior analyst providing a final reflection on this scorecard.' }, { role: 'user', content: 'Review this composite score and provide qualitative reflection: ' + JSON.stringify($json) }] }}"
            },
            {
              "name": "temperature",
              "value": 0.7
            },
            {
              "name": "max_tokens",
              "value": 2048
            }
          ]
        },
        "method": "POST",
        "options": {}
      }
    },
    {
      "id": "c5d6e7f8-a9b0-1cde-cdef-345678901234",
      "name": "Insert Score Card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 3100],
      "parameters": {
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/score_cards",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "scenario_id",
              "value": "={{ $json.scenario_id }}"
            },
            {
              "name": "composite_score",
              "value": "={{ $json.composite_score }}"
            },
            {
              "name": "scores",
              "value": "={{ $json.scores }}"
            },
            {
              "name": "weights",
              "value": "={{ $json.weights }}"
            },
            {
              "name": "reflection",
              "value": "={{ $json.choices && $json.choices[0] && $json.choices[0].message ? $json.choices[0].message.content : '' }}"
            },
            {
              "name": "created_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "method": "POST",
        "options": {}
      }
    },
    {
      "id": "d6e7f8a9-b0c1-2def-defa-456789012345",
      "name": "Update Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 3300],
      "parameters": {
        "url": "={{ 'https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/scenario_queue?id=eq.' + $json.scenario_id }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "next_step",
              "value": "export_ready"
            }
          ]
        },
        "method": "PATCH",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          { "node": "Load Items", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load Items": {
      "main": [
        [
          { "node": "Split In Batches", "type": "main", "index": 0 }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          { "node": "Load AI Extraction", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load AI Extraction": {
      "main": [
        [
          { "node": "Pillar 1: Company Fit", "type": "main", "index": 0 }
        ]
      ]
    },
    "Pillar 1: Company Fit": {
      "main": [
        [
          { "node": "Pillar 2: Move Intent", "type": "main", "index": 0 }
        ]
      ]
    },
    "Pillar 2: Move Intent": {
      "main": [
        [
          { "node": "Pillar 3: Growth", "type": "main", "index": 0 }
        ]
      ]
    },
    "Pillar 3: Growth": {
      "main": [
        [
          { "node": "Pillar 4: Financial", "type": "main", "index": 0 }
        ]
      ]
    },
    "Pillar 4: Financial": {
      "main": [
        [
          { "node": "Pillar 5: Decision Maker", "type": "main", "index": 0 }
        ]
      ]
    },
    "Pillar 5: Decision Maker": {
      "main": [
        [
          { "node": "Pillar 6: Network", "type": "main", "index": 0 }
        ]
      ]
    },
    "Pillar 6: Network": {
      "main": [
        [
          { "node": "Pillar 7: Opportunity", "type": "main", "index": 0 }
        ]
      ]
    },
    "Pillar 7: Opportunity": {
      "main": [
        [
          { "node": "Pillar 8: Evidence", "type": "main", "index": 0 }
        ]
      ]
    },
    "Pillar 8: Evidence": {
      "main": [
        [
          { "node": "Calculate Composite", "type": "main", "index": 0 }
        ]
      ]
    },
    "Calculate Composite": {
      "main": [
        [
          { "node": "MiMo Reflection", "type": "main", "index": 0 }
        ]
      ]
    },
    "MiMo Reflection": {
      "main": [
        [
          { "node": "Insert Score Card", "type": "main", "index": 0 }
        ]
      ]
    },
    "Insert Score Card": {
      "main": [
        [
          { "node": "Update Queue", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
