workflows/n8n/jasfo-cost-monitor.json
{
  "name": "Jasfo Cost Monitor",
  "nodes": [
    {
      "id": "schedule-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      }
    },
    {
      "id": "code-ts",
      "name": "Generate Timestamp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "language": "javascript",
        "code": "const now = new Date();\nconst todayStart = new Date(now.getFullYear(), now.getMonth(), now.getDate());\nreturn { today_start: todayStart.toISOString() };"
      }
    },
    {
      "id": "http-costs",
      "name": "Query Costs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/cost_log?select=*&recorded_at=gte.{{ $node[\"Generate Timestamp\"].json.today_start }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "code-budget",
      "name": "Calculate Budget",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "language": "javascript",
        "code": "const items = $input.all();\nconst dailyCapCents = 2000;\nconst byLayer = {};\nlet totalCostCents = 0;\n\nfor (const item of items) {\n  const layerId = item.json.layer_id || \"unknown\";\n  const costCents = parseInt(item.json.cost_cents) || 0;\n  if (!byLayer[layerId]) byLayer[layerId] = 0;\n  byLayer[layerId] += costCents;\n  totalCostCents += costCents;\n}\n\nconst budgetPercent = dailyCapCents > 0 ? (totalCostCents / dailyCapCents) * 100 : 0;\nconst roundedPct = Math.round(budgetPercent * 100) / 100;\n\nlet status = \"normal\";\nif (roundedPct >= 100) {\n  status = \"critical\";\n} else if (roundedPct >= 80) {\n  status = \"warning\";\n}\n\nconst totalDollars = (totalCostCents / 100).toFixed(2);\n\nreturn {\n  total_cost_cents: totalCostCents,\n  by_layer: byLayer,\n  budget_percent: roundedPct,\n  status: status,\n  daily_cap_cents: dailyCapCents,\n  warning_message: \"\\u26A0\\uFE0F *Budget Warning*\\nDaily AI cost exceeds 80% of $20 cap.\\n\\n\\u{1F4CA} *Usage:* $\" + totalDollars + \" / $20.00 (\" + roundedPct + \"%)\\n\\n\\u{1F50D} *By Layer:* \" + JSON.stringify(byLayer),\n  critical_message: \"\\u{1F6A8} *Critical Budget Alert*\\nDaily AI cost reached/exceeded $20 cap!\\n\\n\\u{1F4CA} *Usage:* $\" + totalDollars + \" / $20.00 (\" + roundedPct + \"%)\\n\\n\\u{1F50D} *By Layer:* \" + JSON.stringify(byLayer)\n};"
      }
    },
    {
      "id": "if-warning",
      "name": "IF Warning",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "conditions": {
          "string": {
            "value1": "={{ $json.status }}",
            "value2": "warning"
          }
        }
      }
    },
    {
      "id": "if-critical",
      "name": "IF Critical",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "conditions": {
          "string": {
            "value1": "={{ $json.status }}",
            "value2": "critical"
          }
        }
      }
    },
    {
      "id": "http-tg-warn",
      "name": "Telegram Warning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 100],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8688503635:AAH4obxx3lGXYhoke1hR8mFJvoTvflVRrnE/sendMessage",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "jsonBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "5936648348"
            },
            {
              "name": "text",
              "value": "={{ $json.warning_message }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-tg-crit",
      "name": "Telegram Critical",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 500],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8688503635:AAH4obxx3lGXYhoke1hR8mFJvoTvflVRrnE/sendMessage",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "jsonBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "5936648348"
            },
            {
              "name": "text",
              "value": "={{ $json.critical_message }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-summary",
      "name": "Log Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300],
      "parameters": {
        "method": "POST",
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/cost_summary",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "jsonBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "run_date",
              "value": "={{ new Date().toISOString().split('T')[0] }}"
            },
            {
              "name": "total_cost_cents",
              "value": "={{ $node['Calculate Budget'].json.total_cost_cents }}"
            },
            {
              "name": "by_layer",
              "value": "={{ JSON.stringify($node['Calculate Budget'].json.by_layer) }}"
            },
            {
              "name": "budget_percent",
              "value": "={{ $node['Calculate Budget'].json.budget_percent }}"
            },
            {
              "name": "status",
              "value": "={{ $node['Calculate Budget'].json.status }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Generate Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Timestamp": {
      "main": [
        [
          {
            "node": "Query Costs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Costs": {
      "main": [
        [
          {
            "node": "Calculate Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Budget": {
      "main": [
        [
          {
            "node": "IF Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Warning": {
      "main": [
        [
          {
            "node": "Telegram Warning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Critical": {
      "main": [
        [
          {
            "node": "Telegram Critical",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Warning": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Critical": {
      "main": [
        [
          {
            "node": "Log Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": true,
  "settings": {},
  "tags": [],
  "id": "jasfo-cost-monitor",
  "versionId": "1"
}
