workflows/n8n/jasfo-scoring-engine.json
{
  "name": "Jasfo Scoring Engine",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "path": "jasfo-scoring",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "get-extraction",
      "name": "Get AI Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/ai_extractions?id=eq.{{ $json.extraction_id }}&select=*",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            }
          ]
        },
        "sendBody": false,
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      }
    },
    {
      "id": "build-context",
      "name": "Build Scoring Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "language": "javaScript",
        "code": "const records = $input.first().json;\nconst record = Array.isArray(records) ? records[0] : records;\n\nreturn {\n  company_name: record.company_name || 'Unknown',\n  company_domain: record.company_domain || '',\n  industry: record.industry || '',\n  description: record.description || '',\n  revenue: record.revenue || null,\n  funding: record.funding || null,\n  employees: record.employees || null,\n  founded: record.founded || '',\n  technologies: record.technologies || [],\n  business_model: record.business_model || '',\n  target_market: record.target_market || '',\n  competitors: record.competitors || [],\n  growth_metrics: record.growth_metrics || {},\n  financial_data: record.financial_data || {},\n  decision_makers: record.decision_makers || [],\n  network_data: record.network_data || {},\n  opportunity_data: record.opportunity_data || {},\n  evidence_data: record.evidence_data || {},\n  ai_summary: record.ai_summary || '',\n  run_id: record.run_id || $('Webhook').first().json.run_id,\n  extraction_id: record.id\n};"
      }
    },
    {
      "id": "score-company-fit",
      "name": "Score Company Fit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "parameters": {
        "method": "POST",
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": {
          "model": "deepseek-v4-flash",
          "messages": [
            {
              "role": "system",
              "content": "You are a B2B lead scoring AI. Score this company on Company Fit from 0-100. Assess how well the company matches the ideal customer profile based on industry, size, technology stack, and business model. Respond with JSON: {\"score\": <0-100>, \"reasoning\": \"...\", \"confidence\": <0-1>, \"factors\": [\"...\"]}. Higher scores mean better fit."
            },
            {
              "role": "user",
              "content": "Company: {{ $node[\"Build Scoring Context\"].json.company_name }}\n\nData:\n{{ JSON.stringify($node[\"Build Scoring Context\"].json) }}"
            }
          ],
          "temperature": 0.2,
          "max_tokens": 2000,
          "response_format": {
            "type": "json_object"
          }
        },
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      }
    },
    {
      "id": "score-move-intent",
      "name": "Score Move Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "parameters": {
        "method": "POST",
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": {
          "model": "deepseek-v4-flash",
          "messages": [
            {
              "role": "system",
              "content": "You are a B2B lead scoring AI. Score this company on Move Intent from 0-100. Assess the likelihood the company is actively seeking a solution based on hiring signals, funding usage, growth phase, and technology gaps. Respond with JSON: {\"score\": <0-100>, \"reasoning\": \"...\", \"confidence\": <0-1>, \"factors\": [\"...\"]}. Higher scores mean stronger intent."
            },
            {
              "role": "user",
              "content": "Company: {{ $node[\"Build Scoring Context\"].json.company_name }}\n\nData:\n{{ JSON.stringify($node[\"Build Scoring Context\"].json) }}"
            }
          ],
          "temperature": 0.2,
          "max_tokens": 2000,
          "response_format": {
            "type": "json_object"
          }
        },
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      }
    },
    {
      "id": "score-growth",
      "name": "Score Growth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300],
      "parameters": {
        "method": "POST",
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": {
          "model": "deepseek-v4-flash",
          "messages": [
            {
              "role": "system",
              "content": "You are a B2B lead scoring AI. Score this company on Growth from 0-100. Evaluate revenue growth trajectory, headcount expansion, market expansion signals, and product development velocity. Respond with JSON: {\"score\": <0-100>, \"reasoning\": \"...\", \"confidence\": <0-1>, \"factors\": [\"...\"]}. Higher scores mean faster growth."
            },
            {
              "role": "user",
              "content": "Company: {{ $node[\"Build Scoring Context\"].json.company_name }}\n\nData:\n{{ JSON.stringify($node[\"Build Scoring Context\"].json) }}"
            }
          ],
          "temperature": 0.2,
          "max_tokens": 2000,
          "response_format": {
            "type": "json_object"
          }
        },
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      }
    },
    {
      "id": "score-financial",
      "name": "Score Financial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 300],
      "parameters": {
        "method": "POST",
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": {
          "model": "deepseek-v4-flash",
          "messages": [
            {
              "role": "system",
              "content": "You are a B2B lead scoring AI. Score this company on Financial Health from 0-100. Assess funding raised, revenue run rate, profitability indicators, burn rate, and financial stability. Respond with JSON: {\"score\": <0-100>, \"reasoning\": \"...\", \"confidence\": <0-1>, \"factors\": [\"...\"]}. Higher scores mean stronger financials."
            },
            {
              "role": "user",
              "content": "Company: {{ $node[\"Build Scoring Context\"].json.company_name }}\n\nData:\n{{ JSON.stringify($node[\"Build Scoring Context\"].json) }}"
            }
          ],
          "temperature": 0.2,
          "max_tokens": 2000,
          "response_format": {
            "type": "json_object"
          }
        },
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      }
    },
    {
      "id": "score-decision-maker",
      "name": "Score Decision Maker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1650, 300],
      "parameters": {
        "method": "POST",
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": {
          "model": "deepseek-v4-flash",
          "messages": [
            {
              "role": "system",
              "content": "You are a B2B lead scoring AI. Score this company on Decision Maker Access from 0-100. Evaluate identifiability of key decision makers, their seniority, relevance of their roles, and accessibility through network channels. Respond with JSON: {\"score\": <0-100>, \"reasoning\": \"...\", \"confidence\": <0-1>, \"factors\": [\"...\"]}. Higher scores mean better access."
            },
            {
              "role": "user",
              "content": "Company: {{ $node[\"Build Scoring Context\"].json.company_name }}\n\nData:\n{{ JSON.stringify($node[\"Build Scoring Context\"].json) }}"
            }
          ],
          "temperature": 0.2,
          "max_tokens": 2000,
          "response_format": {
            "type": "json_object"
          }
        },
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      }
    },
    {
      "id": "score-network",
      "name": "Score Network",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1850, 300],
      "parameters": {
        "method": "POST",
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": {
          "model": "deepseek-v4-flash",
          "messages": [
            {
              "role": "system",
              "content": "You are a B2B lead scoring AI. Score this company on Network Strength from 0-100. Assess existing connections, mutual contacts, employee connections, and shared network density. Respond with JSON: {\"score\": <0-100>, \"reasoning\": \"...\", \"confidence\": <0-1>, \"factors\": [\"...\"]}. Higher scores mean stronger network."
            },
            {
              "role": "user",
              "content": "Company: {{ $node[\"Build Scoring Context\"].json.company_name }}\n\nData:\n{{ JSON.stringify($node[\"Build Scoring Context\"].json) }}"
            }
          ],
          "temperature": 0.2,
          "max_tokens": 2000,
          "response_format": {
            "type": "json_object"
          }
        },
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      }
    },
    {
      "id": "score-opportunity",
      "name": "Score Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 300],
      "parameters": {
        "method": "POST",
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": {
          "model": "deepseek-v4-flash",
          "messages": [
            {
              "role": "system",
              "content": "You are a B2B lead scoring AI. Score this company on Opportunity from 0-100. Evaluate timing of need, budget availability, competitive gaps, and strategic fit for current offerings. Respond with JSON: {\"score\": <0-100>, \"reasoning\": \"...\", \"confidence\": <0-1>, \"factors\": [\"...\"]}. Higher scores mean larger opportunity."
            },
            {
              "role": "user",
              "content": "Company: {{ $node[\"Build Scoring Context\"].json.company_name }}\n\nData:\n{{ JSON.stringify($node[\"Build Scoring Context\"].json) }}"
            }
          ],
          "temperature": 0.2,
          "max_tokens": 2000,
          "response_format": {
            "type": "json_object"
          }
        },
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      }
    },
    {
      "id": "score-evidence",
      "name": "Score Evidence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 300],
      "parameters": {
        "method": "POST",
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": {
          "model": "deepseek-v4-flash",
          "messages": [
            {
              "role": "system",
              "content": "You are a B2B lead scoring AI. Score this company on Evidence Quality from 0-100. Assess the quantity and quality of available data, source reliability, recency of information, and confidence in the extraction. Respond with JSON: {\"score\": <0-100>, \"reasoning\": \"...\", \"confidence\": <0-1>, \"factors\": [\"...\"]}. Higher scores mean better evidence."
            },
            {
              "role": "user",
              "content": "Company: {{ $node[\"Build Scoring Context\"].json.company_name }}\n\nData:\n{{ JSON.stringify($node[\"Build Scoring Context\"].json) }}"
            }
          ],
          "temperature": 0.2,
          "max_tokens": 2000,
          "response_format": {
            "type": "json_object"
          }
        },
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      }
    },
    {
      "id": "calculate-composite",
      "name": "Calculate Composite",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 300],
      "parameters": {
        "language": "javaScript",
        "code": "function parseScore(nodeName) {\n  try {\n    const node = $(nodeName).first().json;\n    const content = node?.choices?.[0]?.message?.content;\n    if (!content) return { score: 0, reasoning: 'No content in response', confidence: 0, factors: [] };\n    const parsed = JSON.parse(content);\n    return {\n      score: typeof parsed.score === 'number' ? parsed.score : 0,\n      reasoning: parsed.reasoning || '',\n      confidence: typeof parsed.confidence === 'number' ? parsed.confidence : 0,\n      factors: Array.isArray(parsed.factors) ? parsed.factors : []\n    };\n  } catch (e) {\n    return { score: 0, reasoning: 'Parse error: ' + e.message, confidence: 0, factors: [] };\n  }\n}\n\nconst fit = parseScore('Score Company Fit');\nconst moveIntent = parseScore('Score Move Intent');\nconst growth = parseScore('Score Growth');\nconst financial = parseScore('Score Financial');\nconst dm = parseScore('Score Decision Maker');\nconst network = parseScore('Score Network');\nconst opportunity = parseScore('Score Opportunity');\nconst evidence = parseScore('Score Evidence');\n\nconst composite = \n  (moveIntent.score || 0) * 0.35 +\n  (growth.score || 0) * 0.15 +\n  (financial.score || 0) * 0.12 +\n  (fit.score || 0) * 0.10 +\n  (dm.score || 0) * 0.10 +\n  (network.score || 0) * 0.08 +\n  (opportunity.score || 0) * 0.05 +\n  (evidence.score || 0) * 0.05;\n\nconst riskFactors = [];\nif ((fit.score || 0) < 50) riskFactors.push('Low company fit');\nif ((moveIntent.score || 0) < 50) riskFactors.push('Low move intent');\nif ((growth.score || 0) < 50) riskFactors.push('Weak growth indicators');\nif ((financial.score || 0) < 50) riskFactors.push('Weak financial health');\nif ((dm.score || 0) < 50) riskFactors.push('No strong decision maker signal');\nif ((network.score || 0) < 50) riskFactors.push('Weak network connections');\nif ((opportunity.score || 0) < 50) riskFactors.push('Limited opportunity signal');\nif ((evidence.score || 0) < 50) riskFactors.push('Insufficient evidence');\n\nconst avgConfidence = (\n  (fit.confidence || 0) + (moveIntent.confidence || 0) +\n  (growth.confidence || 0) + (financial.confidence || 0) +\n  (dm.confidence || 0) + (network.confidence || 0) +\n  (opportunity.confidence || 0) + (evidence.confidence || 0)\n) / 8;\n\nreturn {\n  composite_score: Math.round(composite * 100) / 100,\n  pillar_scores: {\n    company_fit: fit,\n    move_intent: moveIntent,\n    growth: growth,\n    financial: financial,\n    decision_maker: dm,\n    network: network,\n    opportunity: opportunity,\n    evidence: evidence\n  },\n  confidence: Math.round(avgConfidence * 100) / 100,\n  risk_factors: riskFactors\n};"
      }
    },
    {
      "id": "mimo-reflection",
      "name": "MiMo Reflection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2650, 300],
      "parameters": {
        "method": "POST",
        "url": "https://opencode.ai/zen/go/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-MmeX9RLWQrIFngobzyoLIoVjLx58ObW5ZhUmqYbwhPucZc8Nn46jQbvw4Vuf2yCA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": {
          "model": "mimo-v2.5",
          "messages": [
            {
              "role": "system",
              "content": "You are a scoring quality auditor. Review the following B2B lead scoring output for consistency, bias, accuracy, and proper weight distribution. Verify the pillar scores align with the extracted company data and that the composite score reflects the weighted formula. Respond with JSON: {\"passed\": true/false, \"reasoning\": \"...\", \"adjustments\": [\"...\"]}"
            },
            {
              "role": "user",
              "content": "Company: {{ $node[\"Build Scoring Context\"].json.company_name }}\n\nComposite Score: {{ $node[\"Calculate Composite\"].json.composite_score }}\n\nPillar Scores:\n{{ JSON.stringify($node[\"Calculate Composite\"].json.pillar_scores) }}\n\nConfidence: {{ $node[\"Calculate Composite\"].json.confidence }}\n\nRisk Factors: {{ JSON.stringify($node[\"Calculate Composite\"].json.risk_factors) }}"
            }
          ],
          "temperature": 0.2,
          "max_tokens": 2000,
          "response_format": {
            "type": "json_object"
          }
        },
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      }
    },
    {
      "id": "parse-reflection",
      "name": "Parse Reflection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2850, 300],
      "parameters": {
        "language": "javaScript",
        "code": "const response = $input.first().json;\nconst content = response?.choices?.[0]?.message?.content || response?.content || JSON.stringify(response);\nlet parsed;\ntry {\n  parsed = typeof content === 'string' ? JSON.parse(content) : content;\n} catch (e) {\n  parsed = { passed: false, reasoning: 'Failed to parse reflection: ' + e.message, adjustments: [] };\n}\n\nreturn {\n  reflection_passed: parsed.passed === true,\n  reflection_reasoning: parsed.reasoning || '',\n  reflection_adjustments: Array.isArray(parsed.adjustments) ? parsed.adjustments : [],\n  raw_reflection: typeof content === 'string' ? content.substring(0, 5000) : JSON.stringify(content).substring(0, 5000)\n};"
      }
    },
    {
      "id": "reflection-if",
      "name": "Reflection Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3050, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "={{ $json.reflection_passed }}",
            "type": "boolean",
            "rightValue": true
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "reflection-cond",
              "leftValue": "={{ $json.reflection_passed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ]
        }
      }
    },
    {
      "id": "insert-score-success",
      "name": "Insert Score Card (Success)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3250, 200],
      "parameters": {
        "method": "POST",
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/score_cards",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": {
          "run_id": "={{ $node[\"Webhook\"].json.run_id }}",
          "company_domain": "={{ $node[\"Webhook\"].json.company_domain }}",
          "composite_score": "={{ $node[\"Calculate Composite\"].json.composite_score }}",
          "pillar_scores": "={{ JSON.stringify($node[\"Calculate Composite\"].json.pillar_scores) }}",
          "confidence": "={{ $node[\"Calculate Composite\"].json.confidence }}",
          "risk_factors": "={{ JSON.stringify($node[\"Calculate Composite\"].json.risk_factors) }}",
          "reflection_passed": true,
          "reflection_reasoning": "={{ $node[\"Parse Reflection\"].json.reflection_reasoning }}"
        },
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      }
    },
    {
      "id": "update-queue-success",
      "name": "Update Queue (Success)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3450, 200],
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/scenario_queue?run_id=eq.' + encodeURIComponent($node['Webhook'].json.run_id) + '&company_domain=eq.' + encodeURIComponent($node['Webhook'].json.company_domain) }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": {
          "status": "scored"
        },
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      }
    },
    {
      "id": "insert-score-needs-review",
      "name": "Insert Score Card (Needs Review)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3250, 450],
      "parameters": {
        "method": "POST",
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/score_cards",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": {
          "run_id": "={{ $node[\"Webhook\"].json.run_id }}",
          "company_domain": "={{ $node[\"Webhook\"].json.company_domain }}",
          "composite_score": "={{ $node[\"Calculate Composite\"].json.composite_score }}",
          "pillar_scores": "={{ JSON.stringify($node[\"Calculate Composite\"].json.pillar_scores) }}",
          "confidence": "={{ $node[\"Calculate Composite\"].json.confidence }}",
          "risk_factors": "={{ JSON.stringify($node[\"Calculate Composite\"].json.risk_factors) }}",
          "reflection_passed": false,
          "reflection_reasoning": "={{ $node[\"Parse Reflection\"].json.reflection_reasoning }}"
        },
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      }
    },
    {
      "id": "update-queue-needs-review",
      "name": "Update Queue (Needs Review)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3450, 450],
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/scenario_queue?run_id=eq.' + encodeURIComponent($node['Webhook'].json.run_id) + '&company_domain=eq.' + encodeURIComponent($node['Webhook'].json.company_domain) }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": {
          "status": "needs_review"
        },
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get AI Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Extraction": {
      "main": [
        [
          {
            "node": "Build Scoring Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Scoring Context": {
      "main": [
        [
          {
            "node": "Score Company Fit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Company Fit": {
      "main": [
        [
          {
            "node": "Score Move Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Move Intent": {
      "main": [
        [
          {
            "node": "Score Growth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Growth": {
      "main": [
        [
          {
            "node": "Score Financial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Financial": {
      "main": [
        [
          {
            "node": "Score Decision Maker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Decision Maker": {
      "main": [
        [
          {
            "node": "Score Network",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Network": {
      "main": [
        [
          {
            "node": "Score Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Opportunity": {
      "main": [
        [
          {
            "node": "Score Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Evidence": {
      "main": [
        [
          {
            "node": "Calculate Composite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Composite": {
      "main": [
        [
          {
            "node": "MiMo Reflection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MiMo Reflection": {
      "main": [
        [
          {
            "node": "Parse Reflection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Reflection": {
      "main": [
        [
          {
            "node": "Reflection Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reflection Passed?": {
      "main": [
        [
          {
            "node": "Insert Score Card (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Score Card (Needs Review)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Score Card (Success)": {
      "main": [
        [
          {
            "node": "Update Queue (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Score Card (Needs Review)": {
      "main": [
        [
          {
            "node": "Update Queue (Needs Review)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "jasfo"
    },
    {
      "name": "scoring"
    },
    {
      "name": "b2b-lead-scoring"
    }
  ],
  "active": false
}