workflows/n8n/jasfo-export-delivery.json
{
  "name": "Jasfo Export Delivery",
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300],
      "webhookId": "jasfo-export",
      "parameters": {
        "path": "jasfo-export",
        "responseMode": "onReceived",
        "responseData": "noData",
        "options": {}
      }
    },
    {
      "id": "http-1",
      "name": "Get Score Card",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 300],
      "parameters": {
        "method": "GET",
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/score_cards?id=eq.{{ $node[\"Webhook\"].json.score_card_id }}&select=*",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-2",
      "name": "Get AI Extraction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/ai_extractions?company_domain=eq.{{ $node[\"Webhook\"].json.company_domain }}&run_id=eq.{{ $node[\"Webhook\"].json.run_id }}&select=*",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-3",
      "name": "Get Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "parameters": {
        "method": "GET",
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/company_queue?company_domain=eq.{{ $node[\"Webhook\"].json.company_domain }}&select=*",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "code-1",
      "name": "Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "language": "javascript",
        "code": "const scoreCard = $node[\"Get Score Card\"].json;\nconst aiExtraction = $node[\"Get AI Extraction\"].json;\nconst company = $node[\"Get Company\"].json;\nconst webhook = $node[\"Webhook\"].json;\n\nconst scoreCardData = Array.isArray(scoreCard) ? (scoreCard[0] || {}) : (scoreCard || {});\nconst aiExtractionData = Array.isArray(aiExtraction) ? (aiExtraction[0] || {}) : (aiExtraction || {});\nconst companyData = Array.isArray(company) ? (company[0] || {}) : (company || {});\n\nreturn {\n  run_id: webhook.run_id,\n  company_domain: webhook.company_domain,\n  export_format: webhook.export_format,\n  score_card_id: webhook.score_card_id,\n  score_card: scoreCardData,\n  ai_extraction: aiExtractionData,\n  company: companyData\n};"
      }
    },
    {
      "id": "switch-1",
      "name": "Switch Route Format",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "dataType": "string",
        "parameters": {
          "conditions": [
            {
              "id": "route-json",
              "operator": {
                "type": "string",
                "parameters": {
                  "value1": "={{ $json.export_format }}",
                  "value2": "json"
                }
              }
            },
            {
              "id": "route-csv",
              "operator": {
                "type": "string",
                "parameters": {
                  "value1": "={{ $json.export_format }}",
                  "value2": "csv"
                }
              }
            },
            {
              "id": "route-markdown",
              "operator": {
                "type": "string",
                "parameters": {
                  "value1": "={{ $json.export_format }}",
                  "value2": "markdown"
                }
              }
            },
            {
              "id": "route-telegram",
              "operator": {
                "type": "string",
                "parameters": {
                  "value1": "={{ $json.export_format }}",
                  "value2": "telegram"
                }
              }
            }
          ]
        },
        "fallbackOutput": ""
      }
    },
    {
      "id": "code-2",
      "name": "Build JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 100],
      "parameters": {
        "language": "javascript",
        "code": "const merged = $node[\"Merge Data\"].json;\nconst report = {\n  report: {\n    company: merged.company,\n    score_card: merged.score_card,\n    ai_extraction: merged.ai_extraction,\n    generated_at: new Date().toISOString()\n  }\n};\nreturn {\n  content: JSON.stringify(report, null, 2),\n  format: \"json\"\n};"
      }
    },
    {
      "id": "code-3",
      "name": "Build CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300],
      "parameters": {
        "language": "javascript",
        "code": "const merged = $node[\"Merge Data\"].json;\nconst row = {\n  company_domain: merged.company_domain,\n  run_id: merged.run_id,\n  total_score: merged.score_card?.total_score || 0,\n  total_criteria: (merged.score_card?.criteria_results || []).length,\n  ai_summary: (merged.ai_extraction?.summary || \"\").replace(/,/g, \";\"),\n  company_industry: merged.company?.industry || \"\"\n};\nconst header = Object.keys(row).join(\",\");\nconst values = Object.values(row).map(v => typeof v === \"string\" && v.includes(\",\") ? `\"${v}\"` : v).join(\",\");\nreturn {\n  content: header + \"\\n\" + values,\n  format: \"csv\"\n};"
      }
    },
    {
      "id": "code-4",
      "name": "Build Markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 500],
      "parameters": {
        "language": "javascript",
        "code": "const merged = $node[\"Merge Data\"].json;\nconst sc = merged.score_card || {};\nconst ae = merged.ai_extraction || {};\nconst co = merged.company || {};\n\nlet md = \"# Score Card Report\\n\\n\";\nmd += `**Company:** ${merged.company_domain}\\n`;\nmd += `**Run ID:** ${merged.run_id}\\n`;\nmd += `**Total Score:** ${sc.total_score || \"N/A\"}\\n\\n`;\n\nif (sc.pillar_scores && Object.keys(sc.pillar_scores).length > 0) {\n  md += \"## Pillar Scores\\n\\n\";\n  md += \"| Pillar | Score |\\n|-------|-------|\\n\";\n  for (const [pillar, score] of Object.entries(sc.pillar_scores)) {\n    md += `| ${pillar} | ${score} |\\n`;\n  }\n  md += \"\\n\";\n}\n\nif (sc.criteria_results && sc.criteria_results.length > 0) {\n  md += \"## Criteria Results\\n\\n\";\n  md += \"| # | Criterion | Pass | Score |\\n|---|----------|------|-------|\\n\";\n  sc.criteria_results.forEach((c, i) => {\n    md += `| ${i + 1} | ${c.criterion || c.name || \"\"} | ${c.pass || c.passed ? \"✅\" : \"❌\"} | ${c.score || 0} |\\n`;\n  });\n  md += \"\\n\";\n}\n\nif (ae.summary) {\n  md += \"## AI Summary\\n\\n\" + ae.summary + \"\\n\\n\";\n}\n\nif (co.notes) {\n  md += \"## Company Notes\\n\\n\" + co.notes + \"\\n\";\n}\n\nmd += \"\\n---\\n_Generated: \" + new Date().toISOString() + \"_\";\n\nreturn {\n  content: md,\n  format: \"markdown\"\n};"
      }
    },
    {
      "id": "code-5",
      "name": "Build Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 700],
      "parameters": {
        "language": "javascript",
        "code": "const merged = $node[\"Merge Data\"].json;\nconst sc = merged.score_card || {};\nconst ae = merged.ai_extraction || {};\nconst co = merged.company || {};\n\nlet text = \"\\u{1F4CA} *Score Card Report*\\n\\n\";\ntext += `\\u{1F3E2} *Company:* ${merged.company_domain}\\n`;\ntext += `\\u{1F522} *Run:* ${merged.run_id}\\n`;\ntext += `\\u{1F4C8} *Score:* ${sc.total_score || \"N/A\"}/100\\n\\n`;\n\nif (sc.pillar_scores && Object.keys(sc.pillar_scores).length > 0) {\n  text += \"*Pillar Scores:*\\n\";\n  for (const [pillar, score] of Object.entries(sc.pillar_scores)) {\n    const icon = score >= 80 ? \"\\u{1F7E2}\" : score >= 50 ? \"\\u{1F7E1}\" : \"\\u{1F534}\";\n    text += `${icon} *${pillar}:* ${score}\\n`;\n  }\n  text += \"\\n\";\n}\n\nif (ae.summary) {\n  text += `\\u{1F4DD} *Summary:* ${ae.summary.substring(0, 400)}\\n\\n`;\n}\n\nif (co.notes) {\n  text += `\\u{1F4CC} *Notes:* ${co.notes.substring(0, 200)}\\n\\n`;\n}\n\ntext += `\\u{23F0} _Generated: ${new Date().toISOString()}_`;\n\nreturn { text: text };"
      }
    },
    {
      "id": "http-4",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 700],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8688503635:AAH4obxx3lGXYhoke1hR8mFJvoTvflVRrnE/sendMessage",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "jsonBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "-5497421027"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-5",
      "name": "Archive Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 400],
      "parameters": {
        "method": "POST",
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/report_archive",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "jsonBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "run_id",
              "value": "={{ $node['Merge Data'].json.run_id }}"
            },
            {
              "name": "company_domain",
              "value": "={{ $node['Merge Data'].json.company_domain }}"
            },
            {
              "name": "format",
              "value": "={{ $node['Merge Data'].json.export_format }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content || $json.text || JSON.stringify($json) }}"
            },
            {
              "name": "delivered_at",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "delivery_status",
              "value": "sent"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http-6",
      "name": "Update Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2250, 400],
      "parameters": {
        "method": "PATCH",
        "url": "https://nswlrolnbvjzgbkyxrkp.supabase.co/rest/v1/scenario_queue?run_id=eq.{{ $node['Merge Data'].json.run_id }}&company_domain=eq.{{ $node['Merge Data'].json.company_domain }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xyb2xuYnZqemdia3l4cmtwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mzg2NDQ2MywiZXhwIjoyMDk5NDQwNDYzfQ.YpeEY5vzkrGzwnMv5wIKvGGAZYE6sTABwyLm4PGMHRk"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "jsonBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "completed"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Score Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Score Card": {
      "main": [
        [
          {
            "node": "Get AI Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Extraction": {
      "main": [
        [
          {
            "node": "Get Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Company": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Switch Route Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Route Format": {
      "main": [
        [
          {
            "node": "Build JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Markdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build JSON": {
      "main": [
        [
          {
            "node": "Archive Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build CSV": {
      "main": [
        [
          {
            "node": "Archive Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Markdown": {
      "main": [
        [
          {
            "node": "Archive Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "Archive Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Report": {
      "main": [
        [
          {
            "node": "Update Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": true,
  "settings": {},
  "tags": [],
  "id": "jasfo-export-delivery",
  "versionId": "1"
}
